{% extends 'layout.html' %}

{% block title %} Nivel Medio{% endblock %}

{% block scrypt %}
    <script src=static/medio.js> </script>
{% endblock %}

{% block content%} 
<div class="card">
    <!-- Pantalla inicial -->
    <div id="pantalla-inicial">
        
        <img src="static/medio.png" class="imgMain">
        <br>
        <button class="btn" onclick="comenzarJuego()">COMENZAR A JUGAR</button>
        <button class="back" onclick="VolverAlIndex()">MENU PRINCIPAL</button>
    </div>

    <!-- Pantalla juego -->
    <div class="pantalla-juego" id="pantalla-juego">
        <div class="contenedor">
            <img src="static/1.png" alt="" id="imgPregunta" class="img">
        
        <div class="opciones">
            <button class="btn-out" onclick="VolverAlIndex()">X</button>
            <h1 id="Preguntas"></h1>
            <div class="opcion" id="op0" onclick="(comprobarRespuesta(0))">
                <div class="letra" id="l0">A</div>
                <div class="respuesta" id="n0">OPCION A</div>
            </div>
            <div class="opcion" id="op1" onclick="(comprobarRespuesta(1))">
                <div class="letra" id="l1">B</div>
                <div class="respuesta" id="n1">OPCION B</div>
            </div>
            <div class="opcion" id="op2" onclick="(comprobarRespuesta(2))">
                <div class="letra" id="l2">C</div>
                <div class="respuesta" id="n2">OPCION C</div>
            </div>
            <div class="opcion" id="op3" onclick="(comprobarRespuesta(3))">
                <div class="letra" id="l3">D</div>
                <div class="respuesta" id="n3">OPCION D</div>
            </div>
        </div>
        </div>
    </div>
    <div id="pantalla-final">
        <br>
        <h2>RESPUESTAS CORRECTAS: <p id="numCorrectas"></p>%</h2>
        <img src="static/1.svg" alt="" id="imgFinal" class="gif"><br>
        <button class="btn" onclick="VolverAlIndex()">VOLVER AL INICIO</button>
    </div>
</div>
{% endblock %}             
    
</body>

</html>