{% extends 'layout.html'%}

{% block title %} Trivia De Marvel {% endblock %}

{% block links%} {% endblock%}

{% block scrypt %}
<script src=static/Inicio.js> </script>
{% endblock %}

{% block content %}
<div class="card">
  <!-- Pantalla inicial -->
  <div id="pantalla-inicial">
    <br><br>
    <img src="static/Bienvenida.png" class="imgMain">
    <br>
    <button onclick="pantallaInicial()" class="btn">Click Aqui para Comenzar</button>
</div>
     <!-- Pantalla juego -->
     <div class="pantalla-juego" id="pantalla-juego">
      <div class="contenedor">
          <img src="static/Inicio.png" alt="" id="imgPregunta" class="img">
      <div class="opciones">
          
          <button class="btn-out" onclick="VolverAlIndex()">X</button>
          <h1 id="Preguntas">Click en cualquier respuesta para continuar</h1>
          <div class="opcion" id="op0" onclick="window.location='/Dificultad'">
              <div class="letra" id="l0">A</div>
              <div class="respuesta" id="n0">RESPUESTA</div>
          </div>
          <div class="opcion" id="op1" onclick="window.location='/Dificultad'">
              <div class="letra letraAcertada" id="l1">B</div>
              <div class="respuesta respuestaAcertada" id="n1">RESPUESTA CORRECTA</div>
          </div>
          <div class="opcion" id="op2" onclick="window.location='/Dificultad'">
              <div class="letra letraNoAcertada" id="l2">C</div>
              <div class="respuesta respuestaNoAcertada" id="n2">RESPUESTA INCORRECTA</div>
          </div>
          <div class="opcion" id="op3" onclick="window.location='/Dificultad'">
              <div class="letra" id="l3">D</div>
              <div class="respuesta" id="n3">RESPUESTA</div>
          </div>
      </div>
      
    </div>    

      </div>
      
</div>
{% endblock %}