<html>
<title>
    {% block title %} {% endblock %}
</title>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<script src="static/scrypt.js" defer> </script>

    {% block scrypt %}
    {% endblock %}

<body>
    {% block content %}
    {% endblock %}
    <header class="container">
        <div class="row">
            <div class="col text-center">
                <label id="switch">
                    <input type="checkbox">
                     
                    <span class="slider round"></span>
                </label>
            </div>
        </div> 
    </header>
</body>

</html>